<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="TempFolders" value="c:\Users\Nemanja Stankovic\AppData\Local\Temp\;c:\Windows\Temp\;c:\Windows\Microsoft.NET\Framework\v4.0.30319\Temporary ASP.NET Files\root\;c:\Windows\Microsoft.NET\Framework64\v4.0.30319\Temporary ASP.NET Files\root\;c:\Users\Nemanja Stankovic\AppData\Local\Google\Chrome\User Data\Default\Cache\"/>
	</appSettings>
</configuration>